
.card{
display: flex;
margin-top: 50px;
margin-left: 265px;
}
.about{
  width: 250px;
  margin-top: 20px;
}
.about-para{
  margin-top: 16px;
}
.about-btn{
  margin-top: 10px;
  border: none;
  width: 130px;
  height: 37px;
  font-size: 13px;
  color: white;
  background:hsl(0, 0%, 28%);
  border-radius: 5px;
}
.about-btn:hover{
  background-color: hsl(0, 0%, 15%);
  cursor: pointer;
}
.custimg{
  height: 98px;
  width: 98px;
  border-radius: 4px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.custimg:hover{
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.gallery{
  display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 8px;
  margin-left: 210px;
}
