* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  .card {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    transition: box-shadow 0.3s ease;
    margin-left: 200px;
    margin-top: 25px;
  }
  
  .card-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: box-shadow 0.3s ease;
    border-radius: 5px;
  }
  .card-image1 img {
    margin-inline: 15px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: box-shadow 0.3s ease;
  }
  .card-image2 img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover .card-image img {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }
  