*{
    margin: 0px;
    padding: 0px;
}
.float{
    position:fixed;
    top: 75px;
    display: flex;
    transform: translate(350px, 400px);
    height: 70px;
    width: 590px;
    border: none;
    align-items: center;
    justify-content:space-evenly;
    border-radius: 10px;
    background-color: hsla(0, 0%, 0%, 0.65);
    backdrop-filter: 5px;
    

}
.a2{
    padding-block: 11px;
    padding-inline: 4px;
    margin: 2px;
    border-radius: 5px;
    border: 0.1px solid hsl(0, 0%, 100%, 0.15);
    background-color:hwb(180 22% 78%);
    color: hsl(0, 0%, 100%, 0.80);
    backdrop-filter: 3px;
}
.float-a2{
    border: 1px solid black;
    padding-block: 18.5px;
    padding-inline: 3.5px;
    border-radius: 5px;
    border: none;
    background-color:#383939;
}
.float-logo{
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    color: white;
    border-radius: 9px;
    border: none;
}
.float-end{
    height: 55px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 7px;
    font-weight: 600;
    background-color: #eee5d8;
    
}
